@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,500,700,800');
* {margin:0; padding:0; font-family: 'Nanum Gothic', 'serif'; }
body {position:relative; background-color: #131230; font-size:.875em; height:1050px; }
ul, li {list-style: none;}
h1 {font-weight:800; font-size:2.1em;}
button {border-radius:8px;}

/*App.js*/
h2 {
  font-size:2em;
  font-weight:800;
  color:#ed1c24;
  float:left;
}

.container {
  width:80%;
  margin:0 auto;

}

.bgimg {
  width:20%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;

}


footer {
}
footer ul {
  float:right;
  margin-top:20px;
}
footer ul li {
  float:left;
}
footer ul li:first-child{
  margin-right:5px;
}
footer .icon img{
  width:35px;
  height:35px;
}

.container .titlebox {
  color:#fff;
  padding:35px 0;
  width:1000px;
  margin:0 auto;
}
.container .titlebox p {
  font-size:.875em;
  font-weight:400;
  letter-spacing: 4.2px;
  margin-bottom:5px;
}
.container .titlebox img {
  width: 85px;
  float:left;
}

.container .titlebox .titleTextBox {
  padding:7px 0 0 10px;
  overflow:hidden;
}
.container .titlebox::after {
  content:"";
  clear:both;
  display:block;
}

.players {
  width:1000px;
  height:820px;
  background-color: #fff;
  margin:0 auto;
  overflow:hidden;
}

.players .posTitle {
  width:945px;
  height:30px;
  padding-top:40px;
  margin:0 auto;
  position: relative;
}

.players .posTitle p {
  padding:15px 0 0 300px;
}

.container .btnbox {  
  float:right;
  margin-top:-25px;
}

.btn {
  cursor:pointer;
  padding:6.5px 20px;
  background-color: transparent;
  border:.8px solid #fff;
  color:#fff;
  box-sizing: border-box;
}
.btn:hover {
  background-color: rgba(255,255,255,.3);
}
.btnbox .butPitch {
  margin-right:5px;
}
.btn:visited {
  background-color: rgba(255,255,255,.3);
}
.sortbtn {
  width:68px;
  height:22px;
  background-color: #fff;
  position:absolute;
  bottom:0;
  right:0;
  border:.7px solid #ed1c24;
  cursor:pointer;
  color:#ed1c24;
}
.sorticon {
  color:#ed1c24;
}


/*PutScore.js*/

.inputGrade {
  text-align:center;
  padding:50px 0;
}
.inputGrade span {
  color:#c7c6c6;
  font-size:1.4em;
  padding-right: 20px;
}
.inputGrade input {
  width:115px;
  height:23px;
  border:.7px solid #c7c6c6;
  padding:5px;
  margin-right:8px;
}
.inputGrade input::placeholder {
  color:#c7c6c6;
  font-size:0.875em;
}
.inputGrade .file {
  width:160px;
  height:23px;
  color:#c7c6c6;
  font-size:0.875em;
}


.putGrade {
  background-color: #131230;
  width:75px;
  height:35px;
  color:#fff;
}
.putGrade:hover {
  background-color: #da1b23
}



/* PitcherListInfo.js / HitterListInfo.js */
.playerbox {
  width:225px;
  height:270px;
  border:.9px solid #c7c6c6;
  float:left;
  margin:0 5px 5px 0;
  position:relative;

}
.playerbox .playerimg{
  width:100%;
  height:200px;
}
.playerbox .playerimg img {
  width:225px;
}

.pitcherInfo {
  position:absolute;  
  bottom:0;
  background-color: #ebebeb;
  width:100%;
  height:70px;
  border-top:1px solid #ed1c24;
  letter-spacing:-1px;
  display:table;
}
.pitcherInfo .pitcherInfoCon{  
  display:table-cell;
  vertical-align:middle;
}

.pitcherInfo .numName {
  margin-left:10px;
}

.pitcherInfo .playerNum{
  color:#131230;
  font-size:1.752em;
  font-weight:800;
}
.pitcherInfo .playerName{
  color:#000;
  font-size:1.42em;
  font-weight:bold;
  letter-spacing: 0px;
  margin-top:5px;
}

.pitcherInfo .era{
  color:#ed1c24;
  position:absolute;
  top:15px;
  right:10px;
  float:right;
}
.pitcherInfo .era li:nth-child(1){
  font-size:1.05em;
  float:right;
  margin-top:-2px;
}
.pitcherInfo .era li:nth-child(2){
  color:#ed1c24;
  font-size:2.25em;
  font-weight:800;
}

/* 수정 시 inputbox*/
.changeInput {
  background-color: #fff;
  position:relative;
  font-size:0.9em;
}

.changeInputBox{
  margin-left:5px;
  margin-top:6px;
}
.changeInputBox p {
color:#131230;
  font-weight:700;
}
.changeInput input {
  margin-top:3px;
  width:35px;
}
.changeInput .change {
  font-size:1em;
  position:absolute;
  right:0px;
  top:5px;
}
.changeInput .change:hover {
  background-color: rgba(19,18,48,.8);
  color:#fff;
}



.button_container {
  position: absolute;
  top:5px;
  right:5px;
}
.change {
  color:#131230;
  border:1px solid #131230;
  margin-right: 3px;
}
.change:hover {
  color:#fff;
  background-color: #131230;
}


.delete {
  color:#ed1c24;
  border:1px solid #ed1c24;
}
.delete:hover {
  color:#fff;
  background-color: #ed1c24;
}

.button_p{
  width:20px;
  height:20px;
  cursor:pointer;
  background-color:transparent;
  border-radius:0;


}




/* PitcherList.js / HitterList.js */

.playerBigbox {
  width:944px;
  height:900px;
  margin:0 auto;
  
}

.playerScroll {
  height:600px;
  overflow: hidden;
  overflow-y: auto;
}



