@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,500,700,800');
* {margin:0; padding:0; font-family: 'Nanum Gothic', 'serif'; }
body {background-color: #131230; font-size:.875em; }
ul, li {list-style: none;}
h1 {font-weight:800; font-size:2.1em;}
button {border-radius:6px;}

/*App.js*/
h2 {
  color:#ed1c24;
}

.container {
  width:80%;
  margin:0 auto;
}

.container .titlebox {
  color:#fff;
  padding:40px 0;
}
.container .titlebox p {
  font-size:.875em;
  font-weight:400;
  letter-spacing: 4.2px;
  margin-bottom:5px;
}
.container .titlebox img {
  width: 85px;
  float:left;
}


.players {
  width:1000px;
  height:1000px;
  background-color: #fff;
  margin:0 auto;
}

.container .btnbox {  
  float:right;
}

.btn {
  cursor:pointer;
  padding:6.5px 20px;
  background-color: transparent;
  border:.8px solid #fff;
  color:#fff;
  box-sizing: border-box;
}
.btn:hover{
  background-color: rgba(255,255,255,.3);
}
.btnbox .butPitch {
  margin-right:5px;
}


/*PutScore.js*/

.inputGrade {
  text-align:center;
  padding:35px 0;
}
.inputGrade span {
  color:#c7c6c6;
  font-size:1.3em;
}
.inputGrade input {
  width:150px;
  border:.7px
  solid #c7c6c6;
  padding:5px;
  margin-right:6px;
}
.inputGrade input::placeholder {
  color:#c7c6c6;
  font-size:0.875em;
}
.putGrade {
  background-color: #ed1c24;
  color:#fff;
}
.putGrade:hover {
  background-color: #da1b23
}



/*PitcherList.js*/
.playerbox {
  width:250px;
  height:320px;
  border:.9px solid #c7c6c6;
  float:left;
  margin-right:5px;

}

.pitcherInfo {
  background-color: #ebebeb;
  height:80px;
}

.pitcherInfo li:nth-child(4){
  color:#ed1c24;
}
.pitcherInfo li:nth-child(5){
  color:#ed1c24;
}


.button_container .button_p{
  width:20px;
  height:20px;
  cursor:pointer;
  background-color:transparent;
  border-radius:0;

}

.button_container .change {
  color:#131230;
  border:.5px solid #131230;
}
.button_conatiner .change:hover {
  color:#fff;
  background-color: #131230;
}


.button_container .delete {
  color:#ed1c24;
  border:.5px solid #ed1c24;
}



/*List.js*/





/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/